// Initial color
$color__white: #ffffff;                // White
$color__gray-soft: #f8f8f8;            // Gray Soft
$color__black: #000000;                // black
$color__semi_black: #181818;           // Semi Black


//Text color
$color__text-main: #606060;            // body text main color
$color__heading: #232323;              // Heading color
$color__heading-two: #3d3d3d;              // Heading color

//border color
$color__border-one: #e4e4e4;           // border one
$color__border-two: #eaeaea;           // border two
$color__border-three: #6e6e6e;           // border three

//Theme and other color
$color__theme-main: #fd7070;           // Theme color




//Dark Version color
$color__dark-body: #323639;            // dark version body
$color__dark-soft: #393c3e;            // dark soft