@import "typography";
@import "colors";

h1, h2, h3, h4, h5, h6 {
	clear: both;
	line-height: $font__line-height-heading;
    color: $color__heading;
    font-family: $font__heading-title;
}
h1, h2, h3, h4 {
    font-weight: inherit;
}
h1 {
    font-size: $heading__one;
    margin: 0 0 em(30px);
}
h2 {
	font-size: $heading__two;
}
h3 {
	font-size: $heading__three;
}
h4 {
	font-size: $heading__four;
}
h5 {
	font-size: $heading__five;
}
h6 {
	font-size: $heading__six;
}
/*----------Start all heading in site--------*/
.section-header {
    margin-bottom: 60px;
    > p {
        color: #727272;
    }
    .section-title {
        color: $color__theme-main;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
        span {
            color: $color__black;
        }
    }
    .divider {
        margin-bottom: 42px;
        position: relative;
        &:before {
            background-color: #d6d6d6;
            content: "";
            height: 1px;
            left: 50%;
            margin-left: -75px;
            position: absolute;
            top: 47%;
            width: 150px;
        }
        > span {
            &:before, 
            &:after {
                border-radius: 50%;
                content: "";
                height: 6px;
                left: 50%;
                margin-left: -3px;
                position: absolute;
                top: -2px;
                width: 6px;
                z-index: 33;
            }
            &:before {
                background-color: $color__theme-main;
                -webkit-transform: scale(0.8);
                        transform: scale(0.8);
            }
            &:after {
                background-color: rgba($color__theme-main, 0.2);
                -webkit-transform: scale(2);
                        transform: scale(2);
            }
        }
    }
}
