.space-top {
    margin-top: 20px;
}
.space-top-30 {
    margin-top: 30px;
}
.space-top-2x {
    margin-top: 60px;
}
.space-bottom {
    margin-bottom: 20px;
}
.space-bottom-30 {
    margin-bottom: 30px;
}
.space-bottom-2x {
    margin-bottom: 40px;
}
.space-left {
    padding-left: 15px;
}
.space-left-2x {
    padding-left: 30px;
}
.space-right {
    padding-right: 15px;
}
.space-right-2x {
    padding-right: 30px;
}
.space-25 {
    padding: 13px 0;
}
.space-50 {
    padding: 25px 0;
}
.space-100 {
    padding: 50px 0;
}
.space-150 {
    padding: 75px 0;
}
.space-200 {
    padding: 100px 0;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: none !important;
}