$font__body: 'Open Sans', sans-serif;
$font__heading-title: 'Roboto Slab', serif;


$base__font-size: 14px;
$heading__one:  2.827em;
$heading__two: 1.999em;
$heading__three: 1.414em;
$heading__four: 1.25em;;
$heading__five: 1em;
$heading__six: 0.85em;
$font__small: 0.8em;

$font__line-height-body: 1.45em;
$font__line-height-heading: 1.2em;
$font__line-height-paragraph: 1.75em; 