$white: white;
$salmon: #FF9999;
$brown-salmon: #B79DA1;
$grayish: #CCCCCC;
$brown: #333333;
$mustard: #E7C323;
$military-green: #556270;
$aquamarine: aquamarine;
$gray: #301800;
$aaa: #343434;
$aab: #A89078;
$aac: #630000;
$aad: #040001;
$aae: #7A625C;
$aaef: #996666;
$aag: #C5BAAC;
$aah: #C78411;
$aai: #FF9BA1;
$aaj: #FF9393;
$aak: #EEB4B4;
$aal: #E0B14C;
$aam: #BAA5A3;
$aan: #DB7831;
$aao: #8E6312;
$aap: #A52A2A;
$aaq: #D84800;
$aar: #2C1B13;
$aas: #997766;
$aat: #88866D;
$aau: #3E3501;
$aav: #3D343D;
$aaw: #1A0C0C;
$aax: #441B21;
$aay: #666633;
$aaz: #312C1D;
$aba: #5D758D;
$abb: #7996AB;
$abc: #484236;
$abd: #C8C9BB;
$abe: #D2D47F;
$abf: #757D18;
$abg: #858575;
$abh: #C4A9A9;
$abi: #FCF4E8;
$abj: #E6D1D6;
$abk: #E4DEDE;
$abl: #DFECE6;
$abm: #F1F0D5;
$abn: #D39F54;
$abo: #F99494;
$abp: #7D7169;
$abq: #252827;
$abr: #713334;
$abs: #9C3A0C;
$abt: #481B1E;
$acu: #202017;
$abv: #242321;
$abw: #1D1602;
$abx: #500200;
$aby: #252424;
$abz: #766A36;
$aca: #959770;
$acb: #241A18;
$acc: #BDACAC;
$acd: #C0FF66;
$ace: #FEDC00;
$acf: #DEFE00;
$acf: #00F6FE;
$acg: #3ECAFF;
$ach: #D8F6F7;
$aci: #FF785F;
$acj: #E58401;
$ack: #B35F23;
$acl: #811400;
$acm: #CD461B;
$acn: #BD1A0B;
$aco: #F71818;
$acp: #1D1002;
$acq: #7B3129;
$acr: #262012;
$acs: #D4719A;
$act: #E97451;
$acu: #FFE9CC;
$acv: #4D3A3A;
$acw: #2A2318;
$acx: #717354;
$acy: #644C5B;
$acz: #D8D7C9;
$ada: #465773;
$adb: #887729;
$adc: #A29869;
$add: #0E0700;
$ade: #52472B;
$adf: #77775E;
$adg: #570404;
$adh: #300001;
$adi: #311F1F;
$adj: #6B6559;
$adk: #AB7174;
$adl: #82AF9A;
$adm: #FEF607;
$adn: #F20725;
$ado: #FF404B;
$adp: #C3FF68;
$adq: #7FAF1B;
$adr: #D9FFA9;
$ads: #02779E;
$adt: #D4F3E9;
$adu: #59A80F;
$adv: #006666;
$adw: #45ADA8;
$adx: #C9D2CB;
$ady: #3EBE9B;
$adz: #607860;
$aea: #DCFFDE;
$aeb: #48E3EB;
$aec: #D6EDE2;
$aed: #4BAD08;
$aee: #2E2E2E;
$aef: #90A890;
$aeg: #014347;
$aeh: #055475;
$aei: #F6FFFD;
$aej: #6792AB;
$aek: #E7EDEA;
$ael: #EEF1E2;
$aem: #E3FFF9;
$aen: #B3C7EB;
$aeo: #A5D3EE;
$aep: #003366;
$aeq: #7887AC;
$aer: #486060;
$aes: #4DBCE9;
$aet: #4F4E6F;
$aeu: #F2F0FF;
$aev: #0BE0DE;
$aew: #059AF0;
$aex: #ECF3F7;
$aey: #B6B9DF;
$aez: #FFFF00;
$afa: #FFFC7F;
$afb: #FFF500;
$afc: #FFF4C2;
$afd: #FEBF97;
$afe: #E5F3BA;
$afg: #FFFFFF;
$afh: #FAF2F8;
$afi: #FCF7FA;
$afj: #05DAFE;
$afk: #800000;
$afl: #58012B;
$afm: #7C74AC;




