/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'variables';


h4 {
  font-family: Hind;
  color: $brown1;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  border-bottom: 1px solid $salmon;
  color: $salmon;
}

a:hover {
  position: relative;
  z-index: 999;
  border-bottom: 1px solid black;
  cursor: pointer;
}


.tempora {
  text-align: center;
  font-family: Courier New, Courier, monospace;
  color: $adn;
  margin-top: 100px;
}

.temporal {
  text-align: center;
  font-family: Courier New, Courier, monospace;
  color: $adn;
  margin: 20px 0 10px 0;
}

.outside-stuff {
  text-align: center;
  color: #005522;
}

.stuff-out {
  margin-top: 10px;
  margin-bottom: 25px;
}

// .swyinfo {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   left: 45px;
//   align-items: center;
//   padding: 10px 20px;
//   margin-top: 20px;
//   background: $abb;
//   // background: lightsteelblue;
//   height: 7%;
//   border-radius: 5px;
// }

.swyinfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 45px;
  align-items: center;
  padding: 10px 20px;
  margin-top: 30px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 300;
  font-size: 14px;
  transition: box-shadow 0.3s, text-shadow 0.3s;
}

button.addnew {
  background: #4BAD08;
  margin-left: 440px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
}

button.cancel {
  background: $adk;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
  margin-right: 10px;
}

.about-me {
  color: black;
  margin: 0 45px 0 45px;
}

.about-hr {
  color: black;
  margin: 20px 50px 20px 50px;
  display: block;
  border-width: 2px;
}

.ooops {
  color: black;
  text-align: center;
  margin-top: 90px;
}

.footer {
  background: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer div {
  display: flex;
  justify-content: space-between;
}

.footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.footer ul li {
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
}

.footer ul li a {
  color: #fff;
  // font-family: Courier New, Courier, monospace;
}

.footer img {
  height: 25px;
  width: 25px;
}

.footer p {
  color: #e2e2e2;
  float: right;
  padding: 20px;
}


.resume {
  border: 0.2em solid white;
  border-radius: 0.1em;
}
