@import 'variables';

button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  border-spacing: 0;
  font-family: Open Sans;
  font-size: 16px;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button:focus { 
	outline: 0;
}

.twin-buttons {
	display: inline;
	overflow: auto;
	white-space: nowrap;
	margin: 3em auto;
	width: 80%;

	.lefty {
		float: left;
		position: absolute;
		left: 5%;
		color: white;
		border-radius: 5px;
		font-weight: 300;
		font-size: 14px;
		transition: box-shadow 0.3s, text-shadow 0.3s;
		padding: 5px 15px;
		border: .2em solid $abi;

		:hover {
			box-shadow: 0 0 5px $aai, 0 0 5px $aai inset;
			border-radius: 5px;
			text-shadow: 0 0 2px $mustard;
		}
	}

	.righty {
		float: right;
		position: absolute;
		right: 5%;
		color: white;
		border-radius: 5px;
		font-weight: 300;
		font-size: 14px;
		transition: box-shadow 0.3s, text-shadow 0.3s;
		padding: 5px 15px;
		border: .2em solid $mustard;

		:hover {
			box-shadow: 0 0 5px $abi, 0 0 5px $abi inset;
			border-radius: 5px;
			text-shadow: 0 0 2px $abn;
		}
	}
}


.cat-save {
  display: block;
  background: $adk;
  color: lightblue;
  border-radius: 2px;
  font-weight: 300;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 1em;
  position: relative;
  right: 2px;
}


.addcat {
  background: gray;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
}

.deletecat {
  background: red;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
}


.category_edit_form {
  margin: auto;
  width: 20em;
  border: .5em solid green;
  padding: 1em;
  text-align: center;
}

.cat-details {
  margin-bottom: 1em;
}

button.addnew {
  background: #4BAD08;
  margin-left: 440px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
}



button.cancel {
  background: $adk;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
  margin-right: 10px;
}

.zombie-button {
	padding: .5em;
	float: right !important;
	margin-right: 3em;
	border: .11em solid $salmon !important;
	border-radius: 2px;
}