@import 'variables';

.category-form {
  margin-left: 20px;
}

.cat-input {
  // margin-left: 2em;
  // margin-top: 5em;
  // margin-right: 4em;
  font-size: 14px;
  padding: 2px 0 2px 0;
}

.cat-save {
  display: block;
  background: $adk;
  color: lightblue;
  border-radius: 2px;
  font-weight: 300;
  // padding: 5px;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 1em;
  // margin-left: 0.2em;
  position: relative;
  right: 2px;
}


.addcat {
  background: gray;
  // margin-left: 440px;
  // margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  // transition: text-shadow 0.3s;
  // margin-top: 30px;
}

.deletecat {
  background: red;
  // margin-left: 440px;
  // margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  // transition: text-shadow 0.3s;
  // margin-top: 30px;
}


.category_edit_form {
  margin: auto;
  width: 20em;
  border: .5em solid green;
  padding: 1em;
  text-align: center;
}

.cat-details {
  margin-bottom: 1em;
}

.cat-demo {
  text-align: center;
}

input[type=text] {
    padding:5px; 
    border:2px solid pink; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.catshow {
  border: 3px solid $military-green;
  border-radius: 3px;
  padding: 3px;
  color: $ada;
  text-decoration: none;

  &:hover {
    border: 5px solid maroon;
    // background-color: seashell;
  }
}