.footer {
  background: #000;
  position: fixed;
  bottom: 0;
  left: 0;
	width: 100%;
	z-index: 999;
}

.footer div {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.footer ul li {
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
}

.footer ul li a {
  color: #fff;
  // font-family: Courier New, Courier, monospace;
}

.footer img {
  height: 25px;
  width: 25px;
}

.footer p {
  color: #e2e2e2;
  float: right;
  padding: 20px;
}


.resume {
  border: 0.15em solid white;
  border-radius: 0.1em;
}

.message-link {
	background: #28A028 !important;
}

.download-link {
	background: #5960C0 !important;
}