@import 'variables';
div.homepage {
  width: 99.9%;
  margin: 0 auto;
  display: flex;
	flex-direction: column;
	margin-bottom: 5em;

	header {
		display: flex;
		justify-content: space-between;
	
		p {
		  padding: .5em;
		}
	
		ul {
			display: flex;
	
			li {
			  padding: .5em;
			  margin: .5em;
			}
		}
	}
}

p.auth-errors {
  color: red;
}

header.home-header {
  height: 4.5em;
  width: 100%;
  background: $aad;
  color: white;
  font-size: 14px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

main.homepage-info {
  background-size: cover;
	background-position: center;
	margin-top: 1.6em;
  margin-bottom: .1em;
	height: 50em;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('https://res.cloudinary.com/swy/image/upload/v1503358376/tikldhomepage_ixjjm0.jpg');
}


.homepage-description {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: 2em;;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:hsla(0,0%,0%, 0.3);

	.billabong {
		margin: 50px auto 10px;
		flex: 1;
		h2 {
			font-family: billabong, 'billabongregular';
			text-align: center;
			color: $white;
			letter-spacing: 0.2em;
			font-weight: 100;
			font-size: 6.5em;
		}

		h5 {
			font-family: billabong, 'billabongregular';
			text-align: center;
			color: $white;
			letter-spacing: 0.2em;
			font-weight: 100;
			font-size: 2.5em;
		}	
	}


  p {
    font-size: 17px;
    font-family: Courier New, Courier, monospace;
		text-align: left;
		color: $abl;
    margin: 1em 10em;
  }
}

.main-desc {
  color: $abi;
  flex: 2;
}


.highlighter {
  color: $abi;
  text-decoration: none;
}

.highlighted-link {
	color: $aba;
  text-decoration: none;
}

.main-content {
  padding: 2em;
}

p.portfolio-para {
	margin: 1em 10em;
}

.centered-text {
	text-align: center !important;
}

.ooops {
  color: black;
  text-align: center;
  margin-top: 90px;
}

.default-margin {
	margin: 5em;
}

@font-face {
	font-family: 'billabongregular';
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
}
