@import 'variables';

div.loggedhome {
	position: relative;
}

header.loggedhome-header {
  height: 4em;
  width: 100%;
  background: $aad;
	color: black;
  font-size: 14px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.pages {
	margin-top: 10em;
	display: flex;
}

aside.loggedhome-sidebar {
	flex: 1;
}


div.main-index {
	flex: 5;

	p {
		color: gray;
		font-size: 16px;
		margin: 35px;
	}
}