@import 'variables';

div.modal-test {
  height: 300px;
  width: 300px;
  background: white;
}

.ReactModal__Overlay {
  display: hidden;
}

.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(230, 230, 230, 0.8);
  width: 100%;
  height: 100%;
  transition: background 0.5s;

  .homepage-modal {
    width: 350px;
    height: 20em;
		background: $military-green;
		background: #3F3C3C;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 6em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    transition: transform 1s;

    ul.homepage-auth {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: -25px;

      ul {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 30px 0 15px 0;

        p {
          color: gray;
        }

        div {
          height: 1px;
          width: 100%;
          background: gray;
          margin: 0 10px;
          flex-grow: 1;
        }
      }

      li {
        width: 100%;
        text-align: center;
      }

      h1 {
        margin-bottom: 20px;
        font-weight: 300;
      }

      button {
        margin-top: 20px;
        width: 100%;
        background: $abh;
        color: white;
        border-radius: 5px;
        font-weight: 300;
        padding: 7px 15px 8px 15px;
        font-size: 14px;
        transition: text-shadow 0.3s;
      }

      button:hover {
        text-shadow: 0 0 3px white;
      }

      input {
        margin-top: 20px;
        width: 280px;
        height: 30px;
        font-size: 16px;
        border: 1px solid lightgray;
        padding: 10px;
        box-shadow: none;
        transition: border 0.3s;
      }

      input:focus {
        border: 1px solid gray;
        outline: none;
      }

      input::-webkit-input-placeholder {
        color: lightgray;
        font-weight: 300;
      }
    }
  }
}

div.ReactModal_Content--after-open {
  transform: translate(0, 50px);
  &:focus {
    outline: none;
  }
}

.homepage-modal:focus { 
	outline: 0 
}


.job-input {
  width: 70%;
  margin: 10px auto;
  padding: 5px;
  border: 5px solid tomato;
  border-radius: 5px;
}

.cdate {
  border: 1px solid $military-green;
  border-radius: 3px;
  font-size: 12px;
  color: $ada;
  margin: auto 12em;
  width: 150px;

  &:hover {
    border: 3px solid maroon;
    background-color: seashell;
  }
}


.jobedit-save {
  margin: auto 10px;
  width: 30%;
  padding: 5px;
  border: 2px solid #006666;
  border-radius: 5px;
  background: $aej;
  color: white;
}

.jobedit-cancel {
  margin: auto 10px;
  width: 40%;
  padding: 5px;
  border: 2px solid #006666;
  border-radius: 5px;
  background: $adg;
  color: white;
}

div.modal-job {
  margin: 100px auto 5px;
  max-height: 700px;
  max-width: 450px;
  background: white;
  text-align: center;
  padding-bottom: 10px;
  border: 7px solid gray;

  .h2 {
    margin: 2em auto; 
  }
}


.job-modal {
	max-width: 350px;
	max-height: 230px;
	background: lightsteelblue;
	margin: 10em auto;
	border-radius: 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	transition: transform 1s;
}


.jobapp-header {
  clear: both;
  color: white;
  background-color: black;
  padding: 5px 10px;
  margin-bottom: 1.5em;
}

.lefty {
  float: left;
}

.centy {
  margin: 20px 14em 20px 18em;
}

.righty {
  float: right;
  margin: auto 5px;
}

.job-link {
  color: $ada;
  text-decoration: none;

  &:hover {
    font-size: 16px;
    border: 3px solid $military-green;
    border-radius: 3px;
    padding: 3px;
  }
}