@import 'variables';

// Shared naviagtion for Homepage and LoggedHomepage
nav.navigation {
	width: 100%;
	margin: 0 auto;
	align-items: flex-start;
	display: flex;
	justify-content: center;
	font-weight: 300;

	ul {

		li {
			margin: 0;
			padding: 0;
			text-align: center;
			width: 94px;
			display: flex;
			flex-direction: column;

			a {
				text-decoration: none;
				color: white;
				margin: 0;
				padding: 1em;
		
				&.active {
					border-bottom: none;
				}
		
				&:hover {
					text-shadow: 0 0 3px white;
					cursor: pointer;
					border-bottom: 0;
				}
			}
		}	
	}

	// apply to the public Homepaged only
	ul.public-nav {
		margin-right: 80% !important;
	}


	li.logo {
		height: 30%;
		width: 5em;
		margin-top: 1em;;

		img {
			width: 100%;
		}
	}

	ul.searchbar {
		display: flex;
		justify-content: center;
		flex: 1;
		height: 45px;
		align-items: center;
		margin: 0px 5px 5px 0;
	}
}


// Specific only to LoggedHomepage
input.search-input {
  width: 60%;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 14px;
  background-color: rgb(230,230,230);
  background-image: asset-url('searchicon.png');
  background-position: right 5px center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px 20px 5px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;
  transition: background 0.5s;

  &:focus{ background-color: white }
}

li.nav-user {
  position: relative;

  p.user {
    position: relative;
    width: 100%;
    z-index: 999;
    color: white;
    padding: 13px 20px;
    transition: background 0.3s;
    background: rgb(54, 54, 54);
    white-space: nowrap;

    &:hover {
      text-shadow: 0 0 3px white;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

  }

  p.active.user {
    z-index: 999;
    background: $brown;
  }

}

ul#user-settings {
  position: absolute;
  z-index: -10;
  top: -295px;
  left: -5px;
  flex-direction: column;

  width: 100%;
  height: 200px;
  justify-content: flex-end;
  background: $brown;
  display: hidden;

  transition: transform 0.3s;

  &.active {
    display: flex;
    position: absolute;
    transform: translateY(200px);
    z-index: -100;
  }

  li {
    padding: 12px 15px 12px 10px;
    background: $brown;
    text-shadow: 0 0 0;
    text-align: left;
    font-size: 13px;
    height: 10px;
    width: initial;

    a {
      padding: 0;
    }
  }

  li:hover {
    background: gray;
    cursor: pointer;
  }
}