
.project {
  text-align: center;
  margin-bottom: 1.5em;
}

.project a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
}

.project ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1;
    *display: inline;
}
.project li {
  float: left;
  margin-left: 1.5em;
}

.project a:hover,
.project a.active {
  color: #fff;
  background: #800000;
}
