@import 'variables';

@font-face {
  font-family: "Interstate Light";
  src: url('fonts/Interstate-Light-2.ttf') format("truetype");
}

@font-face {
  font-family: "Interstate Regular";
  src: url('fonts/Interstate-Regular.ttf') format("truetype");
}

html, body, h1, h2, h3, h4, h5, h6, p, span, ul, li, a, div, main,
section, aside, header, footer, nav {
  margin: 0;
  border: 0;
  padding: 0;
  border-radius: 0;


  font-family: Open Sans;
}

ul, li {
  list-style: none;
}

body {
	background: $abl;
	background: $aex;
}


// .default-margin {
// 	margin-bottom: 5em;
// }

.centered-text {
	text-align: center !important;
}


body {
  margin-bottom: 3.5em;
}

h4 {
  font-family: Hind;
  color: $brown;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  border-bottom: 1px solid $salmon;
  color: $salmon;
}

a:hover {
  position: relative;
  z-index: 999;
  border-bottom: 1px solid black;
  cursor: pointer;
}


.tempora {
  text-align: center;
  font-family: Courier New, Courier, monospace;
  color: $adn;
  margin-top: 100px;
}

.temporal {
  text-align: center;
  font-family: Courier New, Courier, monospace;
  color: black;
  margin: 20px 0 10px 0;
}

.outside-stuff {
  text-align: center;
  color: #005522;
}

.stuff-out {
  margin-top: 10px;
  margin-bottom: 25px;
}

// .swyinfo {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   left: 45px;
//   align-items: center;
//   padding: 10px 20px;
//   margin-top: 30px;
//   color: black;
//   border: .2em solid #FF785F;
//   border-radius: 5px;
//   font-weight: 300;
//   font-size: 14px;
//   transition: box-shadow 0.3s, text-shadow 0.3s;
// }

button.addnew {
  background: #4BAD08;
  margin-left: 440px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
}



button.cancel {
  background: $adk;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
  margin-right: 10px;
}



.logo-name {
  color: orangered;
}

.about-me {
  color: black;
  margin: 0 45px 0 45px;
}

.about-hr {
  color: black;
  margin: 20px 50px 20px 50px;
  display: block;
  border-width: 2px;
}

.ooops {
  color: black;
  text-align: center;
  margin-top: 90px;
}



body {
  margin-bottom: 3.5em;
}

h4 {
  font-family: Hind;
  color: $brown;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  border-bottom: 1px solid $salmon;
  color: $salmon;
}

a:hover {
  position: relative;
  z-index: 999;
  border-bottom: 1px solid black;
  cursor: pointer;
}


.tempora {
  text-align: center;
  font-family: Courier New, Courier, monospace;
  color: $adn;
  margin-top: 100px;
}

.temporal {
  text-align: center;
  font-family: Courier New, Courier, monospace;
  color: black;
  margin: 20px 0 10px 0;
}

.outside-stuff {
  text-align: center;
  color: #005522;
}

.stuff-out {
  margin-top: 10px;
  margin-bottom: 25px;
}

// .swyinfo {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   left: 45px;
//   align-items: center;
//   padding: 10px 20px;
//   margin-top: 30px;
//   color: black;
//   border: .2em solid #FF785F;
//   border-radius: 5px;
//   font-weight: 300;
//   font-size: 14px;
//   transition: box-shadow 0.3s, text-shadow 0.3s;
// }

button.addnew {
  background: #4BAD08;
  margin-left: 440px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
}



button.cancel {
  background: $adk;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
  margin-right: 10px;
}



.logo-name {
  color: orangered;
}

.about-me {
  color: black;
  margin: 0 45px 0 45px;
}

.about-hr {
  color: black;
  margin: 20px 50px 20px 50px;
  display: block;
  border-width: 2px;
}

.ooops {
  color: black;
  text-align: center;
  margin-top: 90px;
}

.here {
  color: $abi;
  flex: 2;
}