@import 'variables';



.group:after {
  content: "";
  display: table;
  clear: both;
}

.trivium {
  margin-bottom: 2em;
}
.triv-p {
  color:$aet;
  font-size: 1.2em;
}


/* IMAGES -------- */
.trivium-img {
  width: 70px;
}

.game-img {
  width: 30%;
  height: 30%;
  border-radius: .3em;
}


/* trivium NAV -------- */

// .trivium-nav li {
//   display: inline-block;
//   margin-bottom: 30px;
// }

// .trivium-nav li + li {
//   margin-left: .8em;
// }

// .trivium-nav a {
//   font-size: .85em;
//   color: #7d7d7d;
//   padding: .2em .8em;
//   border-radius: .25em;
//   background: #eaebeb;
//   transition: .2s;
// }

// .trivium-nav a:hover,
// .trivium-nav a.active {
//   color: #fff;
//   background: #800000;
// }


