@import 'variables';

#container {
  position: relative;
  height: 70vh;
	width: 98%;
	margin: 2em auto;
  background-color: $add;
  overflow: hidden;
}

img {
	width: 100%;
	height: 100%
}

/* human styles*/
.human {
	position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 5px;
}

#human {
  bottom: 8%;
  left: 60%;
}

.bullet {
  position: absolute;
  height: 10px;
  width: 10px;
}

/* bullet styles*/
#bullet_1 {
	top: 50px;
	right: 50px;
	background-color: $aco;
}

#bullet_2 {
	top: 150px;
	right: 200px;
	background-color: $aco;
}

#bullet_3 {
	top: 450px;
	right: 150px;
	background-color: $aco;
}

#bullet_4 {
	top: 500px;
	right: 450px;
	background-color: $aco;
}

#bullet_5 {
	top: 300px;
	right: 100px;
	background-color: $aco;
}

#bullet_6 {
	bottom: 100px;
	left: 150px;
	background-color: $acg;
}

#bullet_7 {
	bottom: 400px;
	left: 50px;
	background-color: $acg;
}

#bullet_8 {
	bottom: 300px;
	left: 550px;
	background-color: $acg;
}

#bullet_9 {
	bottom: 550px;
	left: 150px;
	background-color: $acg;
}

#bullet_10 {
	bottom: 150px;
	left: 50px;
	background-color: $acg;
}


/* zombie styles*/
.zombie {
  position: absolute;
  height: 3em;
  width: 3em;
}


#zombie_1 {
  top: -100px;
  left: 60%;
}

#zombie_2 {
  top: -200px;
  left: 40%;
}

#zombie_3 {
  top: -350px;
  left: 50%;
}

#zombie_4 {
  top: -500px;
  left: 20%;
}

#zombie_5 {
  top: -200px;
  left: 70%;
}

#zombie_6 {
  top: -650px;
  left: 50%;
}

#zombie_7 {
  top: -100px;
  left: 10%;
}

#zombie_8 {
  top: -300px;
  left: 40%;
}

#zombie_9 {
  top: -750px;
  left: 33%;
}

#zombie_10 {
  top: -200px;
  left: 60%;
}


#restart_div {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  display: none;
}

#restart {
  border: none;
  padding: 1em;
  color: $white;
  background-color: $aaj;
  font-size: 30px;
  margin-top: 30%;
}

#scoreboard {
	width: 10em;
	height: 6.5em;
  position: absolute;
  right: 1em;
  top: 1em;
  background: $white;
	padding: .5em;
	border: .5em solid $black;

	#score_div {
		width: 100%;
		height: 70%;
		color: $brown;
	}
}